
.company
  background-color: $bgc
  padding: 66px 0 105px 0
  &-grid
    display: flex
    flex-wrap: wrap
    position: relative
  &-description
    display: flex
    flex-direction: column
    align-items: flex-start
  &__heading
    margin: 0
    max-width: 510px
    font-weight: bold
    font-size: 48px
    line-height: 60px
    letter-spacing: 0.2px
    color: $heading-color
    margin-bottom: 15px
    &__span
      font-size: 36px
      line-height: 60px
  &__text
    font-weight: normal
    font-size: 18px
    line-height: 32px
    color: $text-color
    width: 457px
    margin-bottom: 63px
  &__button
    background: $heading-color
    border-radius: 8px
    color: #fff
    padding: 16px 24px 15px 24px
    max-width: 238px
    font-weight: bold
    font-size: 18px
    line-height: 25px
    margin-bottom: 56px
  &-images
    position: relative
    width: 100%
  &-arrow
    flex-basis: 100%
    top: 0
