.header
  background-color: $bgc
  padding: 26px 0 26px 0
  &-navbar
    display: flex
    justify-content: space-between
    align-items: center
    &__menu
      &-button
        max-width: 22px
        width: 22px
        max-height: 18px
        height: 18px
        display: flex
        flex-direction: column
        justify-content: space-between
        outline: none
        border: none
        background-color: transparent
        display: none
  &-logo
    max-width: 90px
    width: 90px
    max-height: 28px
.menu
  &-button
    &__line
      height: 2px
      width: 100%
      background-color: $menu-btn-fill
      border-radius: 50%
.navigation
  display: flex
  justify-content: space-between
  align-items: center
  &-list
    display: flex
    flex-direction: row
    justify-content: space-between
    width: 412px
  &-item
    transition: 0.4s
    &:hover
      color: #1576D8
    &__link
      font-weight: 600
      font-size: 16px
      line-height: 22px
      color: $heading-color
      transition: 0.4s
      &:hover
        color: #1576D8
    &_menu
      cursor: pointer
      font-weight: 600
      font-size: 16px
      line-height: 22px
      color: $heading-color
      position: relative
    &__arrow
      &-lend
        transition: 0.5s
        &__visible
          transform: rotate(180deg)
      &-pages
        transition: 0.5s
        &__visible
          transform: rotate(180deg)
  &-button
    width: 131px
    border-radius: 8px
    border: 2px solid #1565D8
    background-color: #F7FAFD
    font-weight: bold
    font-size: 16px
    line-height: 22px
    color: #1565D8
    padding: auto
    height: 48px
  &__button
    margin-left: 54px
.hidden
  &-menu
    position: absolute
    padding: 10px
    width: 160px
    background-color: $heading-color
    border-radius: 8px
    z-index: 99
    display: none
    transition: all 0.3s ease-in
    &__visible
      margin-top: 10px
      display: block
    &__item
      margin-bottom: 8px
    &__link
      font-weight: 600
      font-size: 14px
      line-height: 22px
      color: #FAFDFF
