.partners
  padding: 100px 0 100px 0
  &-container
  &__name-block
    font-weight: 600
    font-size: 14px
    line-height: 19px
    letter-spacing: 2px
    text-transform: uppercase
    color: $names-of-block
    display: inline-block
    margin-bottom: 28px
  &-description
    display: flex
    &_description
      margin-bottom: 73px
  &__heading
    max-width: 480px
    margin-right: 145px
  &__text
    font-weight: normal
    font-size: 18px
    line-height: 32px
    color: $text-color
    max-width: 514px
  &-brands
    display: flex
    flex-direction: row
    padding: 0
    &__item
      margin-right: 85px
